/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 70%;
    margin: auto;
    margin-top: 7%;
}

/* regole header */
header{
    background-color: rgb(255,105,0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;
    font-size: 12px;
}

.barra-navigazione{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    height: 60px;
    color: white;
}


.logo{
    height: 25px;
}

/* regole contenuto principale */
main{
    margin-bottom: 10%;
}

.row{
    display: flex;
    gap: 15px;
    margin-top: 10%;
}

.product-col{
    position: relative;
}

article img{
    max-width: 100%;
}

.heart{
    height: 40px;
    font-size: 30px;
    line-height: 50%;
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
}

.heart:hover{
    color: red;
    cursor: pointer;
}

.label{
    position: absolute;
    left: 0;
    bottom: 35px;
    background-color: orangered;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
}

.sostenibile{
    position: absolute;
    left: 45px;
    bottom: 35px;
    background-color: orangered;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
}

.due{
    left: 0;
}

.img-1b:hover{
    background: url("img/1b.webp");
    display: inline-block;
}

.info-product{
    position: absolute;
    font-size: 12px;
}

.new-price{
    color: red;
    font-weight: bolder;
}

.old-price{
    text-decoration: line-through;
    margin-left: 4px;
}


/* regole footer */
footer{
    background-color: rgb(26,26,26);
    width: 100%;
    color: white;
}

.collegamenti{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 10px;
}

.social{
    font-size: 15px;
}








































/* DEBUG */
