/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 70%;
    margin: auto;
}

header{
    background-color: rgb(255,105,0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;
}

.barra-navigazione{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    height: 60px;
    color: white;
}


.logo{
    height: 30px;
}









































/* DEBUG */
